<div class="container" layout="row" ng-controller="HomeController">
  <md-content flex id="content" >
    <h1>What's for lunch?</h1>
    <div ui-view></div>
<!--    <md-list>
      <md-list-item>
        Like | Do Not Like | Locale
      </md-list-item>
      <md-list-item ng-repeat="locale in locales">
        <md-checkbox ng-model="locale.like"> </md-checkbox>
        <md-checkbox ng-model="locale.donotlike"> </md-checkbox>
        {{locale.name}}
      </md-list-item>
    </md-list>-->
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Like</th>
        <th class="mdl-data-table__cell--non-numeric">Do Not Like</th>
        <th class="mdl-data-table__cell--non-numeric">Locale</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="locale in locales">
        <td class="mdl-data-table__cell--non-numeric"><md-checkbox ng-model="locale.like"> </md-checkbox></td>
        <td class="mdl-data-table__cell--non-numeric"><md-checkbox ng-model="locale.donotlike"> </md-checkbox></td>
        <td class="mdl-data-table__cell--non-numeric">{{locale.name}}</td>
      </tr>
      </tbody>
    </table>
  </md-content>
</div>